@import '../../variables.css';

.panelHeader{

  border-radius: 0;
  width: 100%;
  display: block;
  color: #484848;
  font-size: 16px;
  border-bottom: 1px solid #dce0e0;
}

.textCenter{
  text-align: center;
}

.textTitle{
  font-size: 14px;
  font-weight: bold;
  color: #484848;
}

.textLead{
  font-size: 14px;
  color: #484848;

}

.spaceTop3 {
  margin-top: 18px;
}

.spaceTop4 {
  margin-top: 24px;
}

.space2{
  margin-bottom: 12px;
}

.button {
  box-sizing: border-box;
  margin: 0;
  padding: 7px 21px;
  width: 100%;
  outline: 0;
  border: 1px solid #ffffff;
  border-radius: 4px;
  background: #6818ca;
  color: #484848;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  line-height: 1.3333333;
  cursor: pointer;
}

.button:hover {
  background: #6818ca;
}

.button:focus {
  border-color: #6818ca;
  box-shadow: 0 0 8px #6818ca;
}

.btnPrimary {
    border-color: #6818ca;
    background-color: #6818ca;
    color: #fff;
}

.btnPrimary:hover, .btnPrimary:focus, .btnPrimary:active,
.btnPrimary:active:hover, .btnPrimary:active:focus {
  border-color: #8f46e9;
  background-color: #8f46e9;
  color: #fff;
}

.btnPrimaryBorder {
    border-color: #6818ca;
    color: #6818ca;
    background-color: #fff;
}

.btnPrimaryBorder:hover, .btnPrimaryBorder:focus, .btnPrimaryBorder:active,
.btnPrimaryBorder:active:hover, .btnPrimaryBorder:active:focus {
  border-color: #8f46e9;
  color: #8f46e9;
  background-color: #fff;
}










