@import '../../../components/variables.css';
@import '../admin-common.css';
@import '../admin-form.css';

.button {
	border-color: #8f46e9;
    background-color: #8f46e9;
    color: #fff;
    font-size: 16px;
    float: none;
}

